<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Mario Pizza</title>
</head>

<body class="bkLogin">
    <section class="login">
        <div class="container">

            <div class="d-grid gap-2 col-6 mx-auto">
                <!-- Coock button -->
                <button type="button" class="btns" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    Cook
                </button>
                <!-- Cashier button -->
                <button type="button" class="btns" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    Cashier
                </button>
                <!-- Customer button -->
                <a href="customer.html" class="btns">Customer</a>

            </div>

            <!-- Cook Dashboard -->
            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Cook</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('gfg')}}" method="post">
                                <label for="cookCode">Enter your code:</label>
                                <br>
                                <input type="password" id="cookCode" name="ckCode" placeholder="enter your code"> <br>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-secondary">Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cashier dashboard -->
            <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Cashier</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('gfg')}}" method="post">
                                <label for="cashierCode">Enter your code:</label>
                                <br>
                                <input type="password" id="cashierCode" name="cshCode" placeholder="enter your code">
                                <br>
                                <div class="modal-footer">
                                    <button type="submitW" class="btn btn-secondary">Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>